:root {
  --light-1: #ece0d1;
  --light-2: #dbc1ac;
  --dark-1: #967259;
  --dark-2: #634832;
  --dark-3: #38220f;
  font-family: roboto, sans-serif;
}

body {
  color: var(--dark-3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-1);
}

/* left side */
.left {
  width: 30%;
  background-image: url(./assets/coffee-background.jpg);
  background-position: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--light-1);
  z-index: 1;
}

h1::before {
  content: '☕ | ';
}

/* right side */

.right {
  width: 70%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.right > * {
  padding: 20px 20px;
}

.hero {
  width: 70%;
}

.hero h3:first-of-type {
  margin-bottom: 12px;
}

.form > * {
  padding: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--light-2);
  border-radius: 6px;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form h3 {
  font-size: 1.5rem;
}

.form label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.form fieldset label:first-of-type {
  margin-bottom: 6px;
}

.form input {
  display: block;
  padding: 8px 12px;
  width: 250px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.form label input:focus {
  outline: none;
  border: 2px solid var(--dark-1);
}

.form fieldset {
  border: none;
  margin: 20px 0;
}

.form fieldset > * {
  margin-right: 40px;
}

.btn {
  background-color: var(--dark-2);
  color: var(--light-1);
  padding: 14px 40px;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--dark-3);
  transition: 0.2s;
}

.account a {
  font-weight: 700;
  color: var(--dark-3);
  text-decoration: none;
}

.account a:hover {
  text-decoration: underline;
}

/* media queries */

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .left {
    padding: 50px 0;
    height: 20%;
    width: 100%;
  }

  .right {
    padding-top: 50px;
    height: 100%;
    width: 100%;
  }
}
